{% extends "base.html" %}
{% load static %}

{% block title %}
Title
{% endblock %}

{% block content %}
<div style="background: rgb(246, 246, 246);">
    <div class="_contentSection_1xe72_1">
        <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;">
            <h1 class="_title_1xe72_9">Удобство работы с нами</h1>
            <div class="content">
                <div class="_titleContainer_14pot_1">
                    <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1>
                </div>
                <div class="_descriptionContainer_14pot_9">
                    <div class="_left_14pot_23"><span class="_casualSpan_1qm15_1">Мы владеем перегрузочным комплексом на станции Семянувка (пограничный переход Семянувка/Свислочь). </span>
                        <div><span class="_casualSpan_1qm15_1">Это позволяет нам предоставлять </span><span class="_highlightedSpan_1qhxp_1">транспортно-экспедиторские услуги</span><span class="_casualSpan_1qm15_1"> эффективнее, чем могут
                                предложить конкуренты.</span></div>
                        <div><span class="_highlightedSpan_1qhxp_1">Миссия нашей логистической компании</span><span class="_casualSpan_1qm15_1"> – не просто перевозить груз из пункта A в пункт B, а доставить товар с максимальными выгодой
                                и удобством для клиента.</span></div>
                    </div>
                    <div class="_right_14pot_37"><span class="_casualSpan_1qm15_1">Пункт полностью приспособлен для временного хранения, разгрузки/погрузки грузов. Перегрузочный терминал оборудован крытым складом, есть собственные
                            подъездные пути. Общая площадь – более 20 000 кв. м. В наличии погрузчики Linde грузоподъемностью 1,5-5 тонн. Объект находится рядом с границей республики Беларусь.</span></div>
                </div>
                <div class="_grid_14pot_45">
                    <div class="_advantagesGrid_1qxg7_1">
                        <div class="_prosItem_kegc3_1">
                            <h1 class="_title_kegc3_15">1.5 - 5 тонн</h1>
                            <p class="_description_kegc3_31">Грузоподъём. погрузчиков</p>
                            <div class="_splitter_kegc3_47"></div>
                        </div>
                        <div class="_prosItem_kegc3_1">
                            <h1 class="_title_kegc3_15">25000 м2</h1>
                            <p class="_description_kegc3_31">Площадь терминала</p>
                            <div class="_splitter_kegc3_47"></div>
                        </div>
                        <div class="_prosItem_kegc3_1">
                            <h1 class="_title_kegc3_15">1200 м2</h1>
                            <p class="_description_kegc3_31">Площадь крытого склада</p>
                            <div class="_splitter_kegc3_47"></div>
                        </div>
                        <div class="_prosItem_kegc3_1">
                            <h1 class="_title_kegc3_15">до 50 тонн</h1>
                            <p class="_description_kegc3_31">Грузоподъём. кранов</p>
                            <div class="_splitter_kegc3_47"></div>
                        </div>
                        <div class="_prosItem_kegc3_1">
                            <h1 class="_title_kegc3_15">24/7</h1>
                            <p class="_description_kegc3_31">Мониторинг</p>
                            <div class="_splitter_kegc3_47"></div>
                        </div>
                        <div class="_prosItem_kegc3_1">
                            <h1 class="_title_kegc3_15">1520 мм</h1>
                            <p class="_description_kegc3_31">Собственные ж/д пути</p>
                            <div class="_splitter_kegc3_47"></div>
                        </div>
                    </div>
                </div>
                <div class="_descriptionContainer_14pot_9">
                    <div class="_left_14pot_23">
                        <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1>
                    </div>
                    <div class="_right_14pot_37"><span class="_casualSpan_1qm15_1">Наша международная транспортно-экспедиционная компания организует грузоперевозку по автомобильным, железнодорожным, морским, воздушным путям.</span><span
                            class="_highlightedSpan_1qhxp_1"> Среди услуг нашей фирмы — сложные виды грузоперевозок.</span></div>
                </div>
                <div class="_ourServices_14pot_53">
                    <div class="_ourService_12evp_1">
                        <h1 class="_number_12evp_9">01</h1>
                        <h1 class="_title_12evp_27">Безопасная транспортировка негабаритных объектов</h1>
                        <p class="_description_12evp_45">Тяжёлая спецтехника, оборудование для производственных линий, сельхозтехники.</p>
                    </div>
                    <div class="_ourService_12evp_1">
                        <h1 class="_number_12evp_9">01</h1>
                        <h1 class="_title_12evp_27">Приём заказов на получение сборных грузов</h1>
                        <p class="_description_12evp_45">Если у вас небольшой груз, вы платите только за место, которое он занимает.</p>
                    </div>
                    <div class="_ourService_12evp_1">
                        <h1 class="_number_12evp_9">01</h1>
                        <h1 class="_title_12evp_27">Услуга мультимодальных международных грузоперевозок</h1>
                        <p class="_description_12evp_45">Иногда в рамках одного проекта приходится попеременно использовать несколько видов транспорта. Благодаря профессионализму и наработанному взаимодействию со службами разных стран
                            логистическая компания BAGAT способна это организовать.</p>
                    </div>
                </div><button class="_primaryButton_1oxal_1">Оставить заявку</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}