{% extends "base.html" %}
{% load static %}

{% block title %}
Title
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'bagat_page/info.css' %}">
{% endblock %}

{% block content %}
<div id="root">
    <div class="App">
        <div class="_navbar_19fk2_1">
            <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;"><img src="../../static/bagat_page/images/logo.svg" alt="" class="_navbar__logo_19fk2_9"></div>
        </div>
        <div class="_greetingsSection_cneoq_1">
            <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;">
                <h1 class="_title_cneoq_13">Автомобильные перевозки</h1>
                <div class="_content_cneoq_33">
                    <h2 class="_subtitle_cneoq_49">Перевозка грузов автотранспортом</h2>
                    <p class="_description_cneoq_67">Транспортировка на грузовых автомобилях — один из самых удобных и доступных способов перемещения грузов на небольшие и средние расстояния. Поэтому автоперевозки остаются стабильно популярными у
                        наших клиентов.</p>
                    <p class="_description_cneoq_67">Компания BAGAT наработала многолетний опыт организации международных перевозок. Мы гарантируем безопасную доставку тяжеловесных, негабаритных, опасных, требующих особых условий грузов.</p>
                </div>
                <div class="_actions_cneoq_85"><button class="_primaryButton_1oxal_1">Узнать цену</button><button class="_secondaryButton_7qbep_1">Подробнее об услуге</button></div>
            </div>
        </div>
        <div class="_contentSection_1xe72_1">
            <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;">
                <h1 class="_title_1xe72_9">Узнайте нас ближе</h1>
                <div class="content">
                    <div class="_content_16k2v_1">
                        <div class="_contentItem_16k2v_13">
                            <div class="_left_16k2v_25">
                                <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1><button class="_primaryButton_1oxal_1">Подробнее</button>
                            </div>
                            <div class="_right_16k2v_39"><span class="_casualSpan_1qm15_1">BAGAT — это </span><span class="_highlightedSpan_1qhxp_1">экспедиционная компания </span><span class="_casualSpan_1qm15_1">с собственным перегрузочным
                                    терминалом на ст. Семянувка (граница Польши с Беларусью). Благодаря профессионализму персонала и выгодному расположению, мы способны предложить экспедирование сложных и объёмных грузов. География перевозок,
                                    доступных клиентам, не ограничивается Польшей. Мы организуем получение заказов в ряде стран Европы и на других континентах.</span></div>
                        </div>
                        <div class="_contentItem_16k2v_13">
                            <div class="_left_16k2v_25">
                                <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1>
                                <div><span class="_highlightedSpan_1qhxp_1">Экспедирование грузов</span><span class="_casualSpan_1qm15_1"> — это услуга, в которой в первую очередь заинтересованы владельцы коммерческих фирм. Мы рады предложить
                                        бизнесменам безопасную транспортировку разнообразных товаров. В список опций, доступных нашим клиентам, входит перевозка генеральных и проектных грузов с привлечением спецтранспорта.</span></div><button
                                    class="_primaryButton_1oxal_1">Оставить заявку</button>
                            </div>
                            <div class="_right_16k2v_39">
                                <div style="margin-bottom: 28px;"><span class="_casualSpan_1qm15_1">Автопарк составлен из автомобилей, разработанных для перевозки грузов с разными размерами и свойствами. Поэтому у нас в распоряжении всегда есть
                                        автотранспорт, подходящий для безопасной отправки любого груза. Помимо грузовиков мы привлекаем грузовые самолёты и железнодорожный транспорт (платформы, угольные вагоны, крытые 120–158 м3, изотермические
                                        вагоны-термосы). Для продвижения по водным маршрутам доступна перевозка генеральных грузов морем.</span></div>
                                <div><span class="_casualSpan_1qm15_1">Благодаря такому набору транспортных средств, мы организовываем </span><span class="_highlightedSpan_1qhxp_1">своевременную и безопасную доставку любых грузов</span><span
                                        class="_casualSpan_1qm15_1">. Для экспедирования принимаются заказы с бытовой техникой и электроникой, строительными материалами, машинами и агрегатами, производственными линиями, сырьём и многим
                                        другим.</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: rgb(246, 246, 246);" id="our-advantages">
            <div class="_contentSection_1xe72_1">
                <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;">
                    <h1 class="_title_1xe72_9">Удобство работы с нами</h1>
                    <div class="content">
                        <div class="_titleContainer_14pot_1">
                            <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1>
                        </div>
                        <div class="_descriptionContainer_14pot_9">
                            <div class="_left_14pot_23"><span class="_casualSpan_1qm15_1">Мы владеем перегрузочным комплексом на станции Семянувка (пограничный переход Семянувка/Свислочь). </span>
                                <div><span class="_casualSpan_1qm15_1">Это позволяет нам предоставлять </span><span class="_highlightedSpan_1qhxp_1">транспортно-экспедиторские услуги</span><span class="_casualSpan_1qm15_1"> эффективнее, чем могут
                                        предложить конкуренты.</span></div>
                                <div><span class="_highlightedSpan_1qhxp_1">Миссия нашей логистической компании</span><span class="_casualSpan_1qm15_1"> – не просто перевозить груз из пункта A в пункт B, а доставить товар с максимальными выгодой
                                        и удобством для клиента.</span></div>
                            </div>
                            <div class="_right_14pot_37"><span class="_casualSpan_1qm15_1">Пункт полностью приспособлен для временного хранения, разгрузки/погрузки грузов. Перегрузочный терминал оборудован крытым складом, есть собственные
                                    подъездные пути. Общая площадь – более 20 000 кв. м. В наличии погрузчики Linde грузоподъемностью 1,5-5 тонн. Объект находится рядом с границей республики Беларусь.</span></div>
                        </div>
                        <div class="_grid_14pot_45">
                            <div class="_advantagesGrid_1qxg7_1">
                                <div class="_prosItem_kegc3_1">
                                    <h1 class="_title_kegc3_15">1.5 - 5 тонн</h1>
                                    <p class="_description_kegc3_31">Грузоподъём. погрузчиков</p>
                                    <div class="_splitter_kegc3_47"></div>
                                </div>
                                <div class="_prosItem_kegc3_1">
                                    <h1 class="_title_kegc3_15">25000 м2</h1>
                                    <p class="_description_kegc3_31">Площадь терминала</p>
                                    <div class="_splitter_kegc3_47"></div>
                                </div>
                                <div class="_prosItem_kegc3_1">
                                    <h1 class="_title_kegc3_15">1200 м2</h1>
                                    <p class="_description_kegc3_31">Площадь крытого склада</p>
                                    <div class="_splitter_kegc3_47"></div>
                                </div>
                                <div class="_prosItem_kegc3_1">
                                    <h1 class="_title_kegc3_15">до 50 тонн</h1>
                                    <p class="_description_kegc3_31">Грузоподъём. кранов</p>
                                    <div class="_splitter_kegc3_47"></div>
                                </div>
                                <div class="_prosItem_kegc3_1">
                                    <h1 class="_title_kegc3_15">24/7</h1>
                                    <p class="_description_kegc3_31">Мониторинг</p>
                                    <div class="_splitter_kegc3_47"></div>
                                </div>
                                <div class="_prosItem_kegc3_1">
                                    <h1 class="_title_kegc3_15">1520 мм</h1>
                                    <p class="_description_kegc3_31">Собственные ж/д пути</p>
                                    <div class="_splitter_kegc3_47"></div>
                                </div>
                            </div>
                        </div>
                        <div class="_descriptionContainer_14pot_9">
                            <div class="_left_14pot_23">
                                <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1>
                            </div>
                            <div class="_right_14pot_37"><span class="_casualSpan_1qm15_1">Наша международная транспортно-экспедиционная компания организует грузоперевозку по автомобильным, железнодорожным, морским, воздушным путям.</span><span
                                    class="_highlightedSpan_1qhxp_1"> Среди услуг нашей фирмы — сложные виды грузоперевозок.</span></div>
                        </div>
                        <div class="_ourServices_14pot_53">
                            <div class="_ourService_12evp_1">
                                <h1 class="_number_12evp_9">01</h1>
                                <h1 class="_title_12evp_27">Безопасная транспортировка негабаритных объектов</h1>
                                <p class="_description_12evp_45">Тяжёлая спецтехника, оборудование для производственных линий, сельхозтехники.</p>
                            </div>
                            <div class="_ourService_12evp_1">
                                <h1 class="_number_12evp_9">01</h1>
                                <h1 class="_title_12evp_27">Приём заказов на получение сборных грузов</h1>
                                <p class="_description_12evp_45">Если у вас небольшой груз, вы платите только за место, которое он занимает.</p>
                            </div>
                            <div class="_ourService_12evp_1">
                                <h1 class="_number_12evp_9">01</h1>
                                <h1 class="_title_12evp_27">Услуга мультимодальных международных грузоперевозок</h1>
                                <p class="_description_12evp_45">Иногда в рамках одного проекта приходится попеременно использовать несколько видов транспорта. Благодаря профессионализму и наработанному взаимодействию со службами разных стран
                                    логистическая компания BAGAT способна это организовать.</p>
                            </div>
                        </div><button class="_primaryButton_1oxal_1">Оставить заявку</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="_contentSection_1xe72_1">
            <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;">
                <h1 class="_title_1xe72_9">Приоритетные направления</h1>
                <div class="content">
                    <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1>
                    <div class="_descriptionContainer_flf57_1">
                        <div class="_left_flf57_17"><span class="_casualSpan_1qm15_1">С 2010 года мы разработали широчайшую сеть маршрутов. </span><span class="_highlightedSpan_1qhxp_1">Среди приоритетных направлений работы — международные
                                грузоперевозки из Западной Европы во все страны СНГ</span><span class="_casualSpan_1qm15_1"> (включая Россию), а также в государства дальневосточного региона, в Монголию.</span></div>
                        <div class="_right_flf57_31"><span class="_casualSpan_1qm15_1">Транзитом через РФ мы перевозим заказы в Среднюю Азию. В Казахстан, Туркменистан, Узбекистан грузы перемещаются ж/д составами или автотранспортом. Доставка
                                проходит без промежуточной погрузки, загрузки, что сильно ускоряет и упрощает процесс.</span><span class="_casualSpan_1qm15_1"> Наша логистическая компания проводит международные грузоперевозки и по обратным
                                маршрутам.</span></div>
                    </div>
                    <div class="_directionsGrid_1i4gk_1">
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Россию</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Казахстан</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Узбекистан</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Кыргызстан</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Монголию</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Туркменистан</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Таджикистан</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Азербайджан</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                        <div class="_gridDirectionItem_2qsjc_1">
                            <div class="_image_2qsjc_11"></div>
                            <h1 class="_title_2qsjc_25">Грузоперевозки в Грузию</h1><a href="/" class="_highlightedLink_1dy5r_1">Узнать подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background: rgb(246, 246, 246);">
            <div class="_contentSection_1xe72_1">
                <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;">
                    <h1 class="_title_1xe72_9">Наши преимущества</h1>
                    <div class="content">
                        <div class="_titleContainer_3q5nu_1">
                            <div class="_left_3q5nu_15">
                                <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1><a href="/" class="_highlightedLink_1dy5r_1">Смотреть презентацию компании</a><a href="/" class="_highlightedLink_1dy5r_1">Отзывы</a>
                            </div>
                            <div class="_right_3q5nu_29"><span class="_highlightedSpan_1qhxp_1">Мы оказываем экспедиторские услуги с 2010 года </span><span class="_casualSpan_1qm15_1">, и за этот срок мы сформировали точное понимание того, что
                                    нужно заказчикам. Поэтому мы предоставляем каждому клиенту персонального менеджера, который поможет вам при обращении в любой день недели и время дня. Также мы отличаемся от конкурентов тщательным выбором
                                    субподрядчиков. Чтобы доставка генеральных грузов проходила без нареканий, возможные партнёры проверяются на соответствие требованиям безопасности.</span></div>
                        </div>
                        <div class="_advantagesGrid_1qxg7_1">
                            <div class="_prosItem_kegc3_1">
                                <h1 class="_title_kegc3_15">55</h1>
                                <p class="_description_kegc3_31">Профессионалов в команде</p>
                                <div class="_splitter_kegc3_47"></div>
                            </div>
                            <div class="_prosItem_kegc3_1">
                                <h1 class="_title_kegc3_15">15 млн €</h1>
                                <p class="_description_kegc3_31">Оборот в 2020 году</p>
                                <div class="_splitter_kegc3_47"></div>
                            </div>
                            <div class="_prosItem_kegc3_1">
                                <h1 class="_title_kegc3_15">7500+</h1>
                                <p class="_description_kegc3_31">Отгрузок ежегодно</p>
                                <div class="_splitter_kegc3_47"></div>
                            </div>
                        </div>
                        <div class="_ourConditions_3q5nu_37">
                            <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1>
                        </div>
                        <div class="_ourAdvantages_3q5nu_49">
                            <div class="_ourCondition_lpij5_1">
                                <div class="_icon_lpij5_13"></div>
                                <p class="_description_lpij5_25">Доставляем грузы безопасно и в полном объёме</p>
                            </div>
                            <div class="_ourCondition_lpij5_1">
                                <div class="_icon_lpij5_13"></div>
                                <p class="_description_lpij5_25">BAGAT — компания со страхованием ответственности экспедитора и собственным перегрузочным комплексом</p>
                            </div>
                            <div class="_ourCondition_lpij5_1">
                                <div class="_icon_lpij5_13"></div>
                                <p class="_description_lpij5_25">Без опозданий — вы получаете товар точно в оговоренные сроки</p>
                            </div>
                            <div class="_ourCondition_lpij5_1">
                                <div class="_icon_lpij5_13"></div>
                                <p class="_description_lpij5_25">Все субподрядчики проходят многоступенчатую проверку</p>
                            </div>
                            <div class="_ourCondition_lpij5_1">
                                <div class="_icon_lpij5_13"></div>
                                <p class="_description_lpij5_25">Персональный менеджер — на связи с вами в режиме 24/7</p>
                            </div>
                            <div class="_ourCondition_lpij5_1">
                                <div class="_icon_lpij5_13"></div>
                                <p class="_description_lpij5_25">Помощь от профессионалов в любой ситуации и информирование о продвижении груза каждый день</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

