{% extends "base.html" %}
{% load static %}

{% block title %}
Title
{% endblock %}

{% block content %}
<div class="_greetingsSection_cneoq_1">
    <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;">
        <h1 class="_title_cneoq_13">Автомобильные перевозки</h1>
        <div class="_content_cneoq_33">
            <h2 class="_subtitle_cneoq_49">Перевозка грузов автотранспортом</h2>
            <p class="_description_cneoq_67">Транспортировка на грузовых автомобилях — один из самых удобных и доступных способов перемещения грузов на небольшие и средние расстояния. Поэтому автоперевозки остаются стабильно популярными у
                наших клиентов.</p>
            <p class="_description_cneoq_67">Компания BAGAT наработала многолетний опыт организации международных перевозок. Мы гарантируем безопасную доставку тяжеловесных, негабаритных, опасных, требующих особых условий грузов.</p>
        </div>
        <div class="_actions_cneoq_85"><button class="_primaryButton_1oxal_1">Узнать цену</button><button class="_secondaryButton_7qbep_1">Подробнее об услуге</button></div>
    </div>
</div>
{% endblock %}

