{% extends "base.html" %}
{% load static %}
{% block title %}
Узнайте нас ближе
{% endblock %}

{% block content %}
<div class="_contentSection_1xe72_1">
    <div class="_mainContainer_1p7uw_1" style="width: 1139px; margin: auto;">
        <h1 class="_title_1xe72_9">Узнайте нас ближе</h1>
        <div class="content">
            <div class="_content_16k2v_1">
                <div class="_contentItem_16k2v_13">
                    <div class="_left_16k2v_25">
                        <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1><button class="_primaryButton_1oxal_1">Подробнее</button>
                    </div>
                    <div class="_right_16k2v_39"><span class="_casualSpan_1qm15_1">BAGAT — это </span><span class="_highlightedSpan_1qhxp_1">экспедиционная компания </span><span class="_casualSpan_1qm15_1">с собственным перегрузочным
                            терминалом на ст. Семянувка (граница Польши с Беларусью). Благодаря профессионализму персонала и выгодному расположению, мы способны предложить экспедирование сложных и объёмных грузов. География перевозок,
                            доступных клиентам, не ограничивается Польшей. Мы организуем получение заказов в ряде стран Европы и на других континентах.</span></div>
                </div>
                <div class="_contentItem_16k2v_13">
                    <div class="_left_16k2v_25">
                        <h1 class="_primaryTitle_1iok2_1">Мы международная транспортная компания</h1>
                        <div><span class="_highlightedSpan_1qhxp_1">Экспедирование грузов</span><span class="_casualSpan_1qm15_1"> — это услуга, в которой в первую очередь заинтересованы владельцы коммерческих фирм. Мы рады предложить
                                бизнесменам безопасную транспортировку разнообразных товаров. В список опций, доступных нашим клиентам, входит перевозка генеральных и проектных грузов с привлечением спецтранспорта.</span></div><button
                            class="_primaryButton_1oxal_1">Оставить заявку</button>
                    </div>
                    <div class="_right_16k2v_39">
                        <div style="margin-bottom: 28px;"><span class="_casualSpan_1qm15_1">Автопарк составлен из автомобилей, разработанных для перевозки грузов с разными размерами и свойствами. Поэтому у нас в распоряжении всегда есть
                                автотранспорт, подходящий для безопасной отправки любого груза. Помимо грузовиков мы привлекаем грузовые самолёты и железнодорожный транспорт (платформы, угольные вагоны, крытые 120–158 м3, изотермические
                                вагоны-термосы). Для продвижения по водным маршрутам доступна перевозка генеральных грузов морем.</span></div>
                        <div><span class="_casualSpan_1qm15_1">Благодаря такому набору транспортных средств, мы организовываем </span><span class="_highlightedSpan_1qhxp_1">своевременную и безопасную доставку любых грузов</span><span
                                class="_casualSpan_1qm15_1">. Для экспедирования принимаются заказы с бытовой техникой и электроникой, строительными материалами, машинами и агрегатами, производственными линиями, сырьём и многим
                                другим.</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}